:root{
    --skyblue:#2F74AD;
}
.content_center{
    max-width: 1140px;
    margin:0 auto;
    border:1px solid rgb(230, 135, 135);
    color:var(--skyblue);
}

.store_categories{
    display:flex;
    flex-direction: column;
    width:18rem;
    border:1px solid red;

}

.store_category{
    padding-left:10px;
}
.store_category:not(:last-child){
    margin-bottom: 1rem;
}

.store_category__title{
font-size: 24px;
font-weight: 600;
}

.store_category__items{
    list-style-type: none;
    padding:1rem;
    margin:0;
}

.store_category_item{
border-bottom: 2px solid var(--skyblue);
display:flex;
align-items: center;
padding-bottom: 5px;

}

.store_category__items li:not(:last-child){
    margin-bottom: 10px;
}


.store_category_item__icon{
    display:inline-block;
    width:24px;
    height: 24px;
    border:1px solid red;
    margin-right: 10px;
}

.store_category_item__name{
    display:inline-block;
    font-weight: 600;
}


.store_product_results{

}

.card{
    display:flex;
    flex-direction: column;
}

.card_header{
    
}
.card_header__image{
    
}

.card_body{
    
}

.card_footer{
    
}