:root{
    --skyblue:#2F74AD;
}
.content_center{
    max-width: 1140px;
    margin:0 auto;
    border:1px solid rgb(230, 135, 135);
    color:var(--skyblue);
}

.products_overview,
.stores_overview{
    display: flex;
    flex-direction: row;
}

.store_categories{
    display:flex;
    flex-direction: column;
    width:18rem;
    border:1px solid red;

}

.store_category{
    padding-left:10px;
}
.store_category:not(:last-child){
    margin-bottom: 1rem;
}

.store_category__title{
font-size: 24px;
font-weight: 600;
}

.store_category__items{
    list-style-type: none;
    padding:1rem;
    margin:0;
}

.store_category_item{
border-bottom: 2px solid var(--skyblue);
display:flex;
align-items: center;
padding-bottom: 5px;

}

.store_category__items li:not(:last-child){
    margin-bottom: 10px;
}


.store_category_item__icon{
    display:inline-block;
    width:24px;
    height: 24px;
    border:1px solid red;
    margin-right: 10px;
}

.store_category_item__name{
    display:inline-block;
    font-weight: 600;
}


.store_product_results{
    flex-grow:1;
    margin-left:20px;
}

.section_title{
}

.grid_list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
    gap:16px;
}

.grid_list__item{

}

.product_description, 
.store_description{
    margin:0;
    padding:5px;
}

.product_description__title, 
.store_description__title{
    display:block;
    font-size:24px;
    font-weight: 600;
}

.product_description__description, 
.store_description__description{
    display:inline-block;
    font-size:14px;
    letter-spacing: 1.1px;
}

.card{
    display:flex;
    flex-direction: column;
}

.card_header{
    position:relative;
    overflow: hidden;
}
.card_header__image{
    display:block;
    width: 100%;
    height: auto;
}

.card_body{
    
}

.card_footer{
    
}

.products_content{
    flex-grow: 1;
    margin-left:20px;
}

.store_product_list{

}

.store_product_list:not(:first-child){
    margin-top:40px;
}
