.stores_about{
    & .track__left{

    }

    & .track__main{
        max-width: 70%;
    }

    &__basic{

    }

    & .text_input{
        display: block;

        &__input{
            width: 100%;
        }
    }
}