.stores_about{
    & .track__left{

    }

    & .track__main{
        max-width: 70%;
    }

    &__basic{

    }

    &__contact{

    }

    &__delivery_support{
        & .checkbox{
        }
    }
    
    & .text_input{
        display: block;

        &__input{
            width: 100%;
        }
    }
}