.option_section{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border:1px solid var(--skyblue);
    border-radius: 2rem;

    &__title{
        border-bottom: 1px solid var(--skyblue);
        font-size: 2.4rem;
        padding-bottom: 1rem;
        flex:0 0 100%;
    }

    &__group{
        border:1px solid var(--skyblue);
        padding:1rem;
        margin-top:1rem;
        border-radius: 2rem;
    }

    &__row{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        &.flex-start{
            justify-content: flex-start;
        }
        & .flex-1{
           flex:0 0 100%;
        }
        & .flex-2{
            flex:0 0 45%;
        }
        & .flex-3{
            flex:0 0 30%;
        }
        & .flex-5{
            flex:0 0 20%;
        }
        & .flex-6{
            flex:0 0 10%;
        }
        &>*{
            flex:0 0 45%;
        }
        &>.option_section__title{
            flex:0 0 100%;
        }

        &>*:not(:first-child){
            margin-left:2rem;
        }
        &:not(:first-child){
            margin-top:1rem;
        }
    }
}