.option_section{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border:1px solid var(--skyblue);
    border-radius: 2rem;

    &__title{
        border-bottom: 1px solid var(--skyblue);
        font-size: 2.4rem;
        padding-bottom: 1rem;
    }

    &__row{
        &:not(:first-child){
            margin-top:1rem;
        }
    }
}