.order_basket{
    width: 30vw;
    height: 100vh;
    border:1px solid red;

    &__header{
        margin-bottom: 2rem;
    }

    &__body{

    }

    &__select_basket{
        display: flex;
        flex-direction: row;
        margin:0 auto;
        border-radius: 50px;
        padding:.5rem 1rem;
        border:1px solid red;

        &_option{
            min-width: 45%;
            &:first-child{
                margin-right: auto;
            }
        }

        &_button{
            width: 100%;
            transition:background-color 0.2s;

            &--active{
                background-color: rgba(0, 0, 0, 0.438);
            }

            &:hover{
                cursor:pointer;
                background-color: rgba(0, 0, 0, 0.438);
            }
        }
    }

    &__content{

    }

    &__checkout{
        margin-top: 1rem;

    }

    &__text{
        font-weight: 600;
        font-size: 2.4rem;
    }

    & .space_between__row{

        &:first-child{
            padding:0rem .8rem;
        }

        &:not(:first-child){
            margin-top:1rem;
        }
    }
}