.text_input{
    display: inline-block;

    &__input{
        display: inline-block;
        border:1px solid var(--skyblue);
        border-radius: 2rem;
        background-color: transparent;
        outline: none;
        padding:1rem 2rem;
        color:rgb(184, 184, 184);

        &::placeholder{
        }
        &:focus{
            outline: none;
        }
    }

    &__label{
        display: block;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        padding-left:.5rem;
        font-weight: 500;
    }
}