.track{
    display: flex;
    flex-direction: row;
    &__left{
        &>*:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &__main{
        flex-grow: 1;
        &>*:not(:last-child){
            margin-bottom: 2rem;
        }
    }
}